/*
ioc2rpz.gui (c) Vadim Pavlov
*/

html,body {height: 100%;}
.dropdown .dropdown-menu .dropdown-item:focus .sorting:focus  { outline: none;}
:focus {
  outline: none!important;
}
.menu-bkgr,.corners {background-color: #343038;} /*251956*/
.copyright{
  text-align: right;
  height: 20px; /* .push must be the same height as .footer */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.curl_angels {
  background-position: left top;
  border-radius: 10px 0px 0px 0px;
  background-color: #F5FAFB;
}
.corners {
   padding: 0;
}
.width150{width: 155px;}
.width200{width: 200px;}
.width250{width: 250px;}

.page-item.active > a {
    background-color: #6c757d!important;
    border-color: #6c757d!important;
    color: #FFFFFF!important;
}

.my-select {
    background-color: #9ca3a8;
    border-color: #9ca3a8;
    color: #FFFFFF;
    padding-top: 0 ;padding-bottom: 0;
    font-size: 100%;
}

.form_row {
  padding: 5px;
}

.modal-header, .modal-footer, .modal-body  {
/*
  Check how to fix Tkey we need to remove padding header(bottom), footer(top)
  padding: 5px 5px 5px 16px;
*/
  border: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.spacer { margin: 0 10px;}

.v-spacer { margin: 10px 0;}

.drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}

.items_list{
  height: 4em; overflow-y: scroll; border: 1px solid #ced4da; border-radius: .25rem; margin: 0; padding: 5px
}

.bg_color_gray{
  background-color: #6c757d;
}


.vcentered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

[v-cloak] {
  display: none;
}